{% extends 'base.html.twig' %}

{% block title %}Éditer la livraison{% endblock %}

{% block body %}
    <h1>Éditer la livraison</h1>
    {{ form_start(form) }}
        {{ form_row(form.date) }}
        {{ form_row(form.societeRecyclage) }}
        <button type="submit">Mettre à jour</button>
    {{ form_end(form) }}
{% endblock %}
